@font-face {
  font-family: YuGo;
  src: local(YuGo-Medium),
    url(/path/to/YuGo-Medium.woff2) format("woff2"),
    url(/path/to/YuGo-Medium.woff) format("woff"),
    url(/path/to/YuGo-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: YuGo;
  src: local(YuGo-Bold),
    url(/path/to/YuGo-Bold.woff2) format("woff2"),
    url(/path/to/YuGo-Bold.woff) format("woff"),
    url(/path/to/YuGo-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

h1 {
  font-family: YuGo;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.13px;
}

h2 {
  font-family: YuGo;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

h3 {
  font-family: YuGo;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.04px;
}

big {
  font-family: YuGo;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.08px;
}

body {
  font-family: YuGo;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.11px;
}

caption {
  font-family: YuGo;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.08px;
}

label {
  font-family: YuGo;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #191919;
}



.mymazon-login-input {
    border-radius: 2px;
    border: solid 1px #b2b2b2;
    background-color: #ffffff;
}

.mymazon-check-label {
    font-family: YuGo;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.mymazon-require-input-label {
    border-radius: 1px;
    background-color: #e2001b;
}

.mymazon-require-input-label-text {
    font-family: YuGo;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.mymazon-submit-button {
    font-family: YuGo;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b2b2b2;
    color: #ffffff;
    background-color: #0fbe9f;
}

.mymazon-login-text {
    font-family: YuGo;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0fbe9f;
}